name: Deploy Next.js Application（Static）
on:
  workflow_dispatch:
  push:
    branches:
      - master

concurrency:
  group: "deploy-nextapp"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Setup pnpm
        uses: pnpm/action-setup@v4.2.0
        with:
          version: 10
      - name: Install dependencies
        run: pnpm install
      - name: Run lint
        run: pnpm lint
      - name: build
        run: pnpm build
      - name: Upload GitHub Pages artifact
        uses: actions/upload-pages-artifact@v4.0.0
        with:
          path: out
  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
